.DS_Store
Статистический анализ данных/datasets/.DS_Store
Статистический анализ данных/datasets/calls.csv
Статистический анализ данных/datasets/internet.csv
Статистический анализ данных/datasets/messages.csv
Статистический анализ данных/datasets/tariffs.csv
Статистический анализ данных/datasets/users.csv
Выпускной/datasets
Исследовательский анализ данных/datasets
Выпускной/.ipynb_checkpoints/telecom-checkpoint.ipynb
Статистический анализ данных/.ipynb_checkpoints/statistical_data_analysis-checkpoint.ipynb
