.DS_Store
Определение перспективного тарифа для телеком-компании/datasets/.DS_Store
Определение перспективного тарифа для телеком-компании/datasets/calls.csv
Определение перспективного тарифа для телеком-компании/datasets/internet.csv
Определение перспективного тарифа для телеком-компании/datasets/messages.csv
Определение перспективного тарифа для телеком-компании/datasets/tariffs.csv
Определение перспективного тарифа для телеком-компании/datasets/users.csv
Прогноз оттока клиентов/datasets/
Исследование объявлений о продаже квартир/datasets/
Прогноз оттока клиентов/.ipynb_checkpoints/telecom-checkpoint.ipynb
Определение перспективного тарифа для телеком-компании/.ipynb_checkpoints/statistical_data_analysis-checkpoint.ipynb
Определение перспективного тарифа для телеком-компании/.DS_Store
Исследование объявлений о продаже квартир/.ipynb_checkpoints/exploratory_data_analysis-checkpoint.ipynb
Определение перспективного тарифа для телеком-компании/.DS_Store
Определение перспективного тарифа для телеком-компании/.DS_Store
